/*****************************
    DISEÑO LUPA INPUT
******************************/
#buscar{
    padding: 10% 0 0 0;
}
#lupa 
{
    position: relative;
    width: 40%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 15px 10px;
    background: white;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 12px 2px #383838;
    box-shadow: 4px 4px 12px 2px #383838;
}
#lupa::before
{
    content: '';
    position: absolute;
    top: 8.2%;
    right: 4%;
    width: 6%;
    height: 64%;
    background: rgba(236, 240, 241,1.0);
    border: 1px solid rgba(44, 62, 80,1.0);
    border-radius: 100%;
    -webkit-box-shadow:inset 0.4px 0.4px 8px 0.2px #383838;
    box-shadow:inset 0.4px 0.4px 8px 0.2px #383838;
}
#lupa::after
{
    content: '';
    position: absolute;
    top: 68%;
    right: 1.4%;
    background: black;
    width: 20px;
    height: 4px;
    -moz-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    transform: rotate(42deg);
}
#lupa input
{
    float: left;
    clear: both;
    width: 100%;
    padding: 0 52px 0 0;
    background: white;
    font-size: 20px
}

/***************************************
       DISEÑO ARTICULOS CON IMAGEN
****************************************/

#items 
{
    padding-top: 20px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

#items article
{
    background: rgba(236, 240, 241,1.0);
    width: 20%;
    margin: 2%;
    padding: 0.4%;
    overflow: hidden;
    box-shadow:  1px 1px 2px 2px rgba(50, 50, 50, 0.25);
}
@media all and (max-width: 1279px) /*para version pc*/
{
  #items article
  {
    width: 33.33%;
  }
  #lupa
    {
        width: 33.33%;
    }
}

@media all and (max-width: 979px) /*para version tablet*/
{
  #items article
  {
    width: 50%;
  }
  #lupa
    {
        width: 33.33%;
    }
}

@media all and (max-width: 767px) /*para version movil*/
{
  #items article
  {
    width: 100%;
  }
  #lupa
    {
        width: 33.33%;
    }
}

#items article section
{
    position: relative;
    float: left;
    border: 2px solid rgba(127, 140, 141,1.0);
    background: rgba(236, 240, 241,1.0);
    width: 100%;
    height: 100%;
}

#items article section figure
{
    float: left;
    width: 100%;
    height: 25vh;
    min-height: 15vw;
    border-bottom: 1px solid rgba(50, 50, 50, 0.15);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#buscar #items div p
{
    float: left;
    text-align: justify;
    font-family: arial, verdana, serif;
    font-weight: normal;
    padding: 2%;
}
#buscar #items div > h1
{
    float: left;
    width: 100%;
    text-align: center;
    padding: 2%;
}

#titulo
{
    float: left;
    width: 100%;
    text-align: center;
    font-family: verdana;
    font-size: 28px;
    text-decoration: underline;
    padding-top: 2%;
    
}

#resultado
{
    position: absolute;
    width: 0;
    height: 0;
    padding-left: 90.4%;
    font-weight: bold;
    font-size: 128%;
}