#ini
{
  float: left;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgba(52, 73, 94,1.0);
  background-image: url('../ng-img/inf.png'), url('../ng-img/sala.png');
  background-position: right top, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 140px, 800px auto;
}

@media all and (max-width: 768px)
{
  #ini
  {
    background-size: auto 200px, 400px auto;
  }
}